html {
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
  padding: 0;
}

.Profiletop {
	margin-bottom: 25px;
}

.userinfo {
	font-family: 'Lato', sans-serif;
	list-style: none;
}

.fullname {
	font-family: 'Lato', sans-serif;
	font-size: 56px;

}

.quote {

}

.age {
	margin-top: 25px;
	font-size: 30px;
	display: inline-block;
	border-right: 1px solid black;
	padding-right: 15px;
}

.location {
	margin-top: 25px;
	font-size: 30px;
	display: inline-block;
	padding-left: 15px;
}

.summary {
	margin-top: 25px;
	font-size: 44px;
}

.post-container {
}

.post-img {

}

.post-text {
	display: inline-block;
}

.posttitle {
	font-family: 'Lato', sans-serif;
	font-size: 30px;

}

.postdate {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}



